@model SignUpOrInModel

@if (Model.RegisteredUser)
{
    <div style="height:inherit;"><a class="user-icon" target="_blank" asp-controller="Profile" asp-action="Index" style="@("background-image:url("+(string.IsNullOrWhiteSpace(Model.UserIcon)?"/images/users/defaultUserIcon.jpg":Model.UserIcon)+")")">&nbsp;</a></div>
}
else
{
    <div style="line-height:1.2em;padding-top:15px;">
        <a style="float:left; text-align:center;" target="_blank" asp-controller="Account" asp-action="SignUp" asp-area="Admin"><img src="/images/sign-up.png" width="28" height="28" alt="@T("SignUp")" /><p>@T("SignUp")</p></a>
        <a style="float:left;margin-left:50px;text-align:center;" target="_blank" asp-controller="Account" asp-action="SignIn" asp-area="Admin"><img src="~/images/sign-in.png" width="28" height="28" alt="@T("SignIn")" /><p>@T("SignIn")</p></a>
    </div>
}