@using Game.Web.Models.Matches
@using Game.Base.Domain.Matches

@inject IDateTimeHelper dateTimeHelper
@inject IWorkContext workContext

@model List<MatchListItem>
    @{
    var matchType = Context.Request.Query["type"].ToString().ToUpper();
    if (string.IsNullOrWhiteSpace(matchType)) {
        matchType = "ALL";
    }


    }



    <style type="text/css" asp-location="footer">
            /*内容页*/
            .content {
                font-size: 1.15rem;
                line-height: 3.5rem;
                vertical-align: middle;
            }

            /*子导航*/
            .sub-nav {
                background-color: #e3e3e3;
                height: 3.5rem;
            }

                .sub-nav li {
                    float: left;
                    padding: 0px 20px;
                    height: inherit;
                }

                    .sub-nav li img {
                        float: left;
                        margin-top: 10px;
                        margin-right: 4px;
                    }

                    .sub-nav li.active {
                        background-color: #fff;
                    }

            /*比赛列表*/
            .match-item {
                margin-top: 10px;
                clear: both;
                overflow: auto;
            }

            .match-date {
                height: 3.5rem;
                background-color: #e3e3e3;
            }

                .match-date span {
                    display: block;
                    width: 150px;
                    height: inherit;
                    background-color: #fff;
                    text-align: center;
                }

            .match-sub-item {
                display: block;
                cursor: default;
                padding: 5px;
                clear: both;
                overflow: auto;
                overflow: overlay;
                background-color: #fff;
                border-bottom: solid 1px #ccc;
                /*-moz-transition: background-color 1s;
            -webkit-transition: background-color 1s;
            -o-transition: background-color 1s;*/
            }

                .match-sub-item > div {
                    height: 3.5rem;
                    line-height: 3.5rem;
                    vertical-align: middle;
                    float: left;
                    overflow: hidden;
                }
            /*.match-sub-item:hover {
            background-color: #c49f58;
            color:#fff;
        }*/
            .match-subject img, .match-team img {
                float: left;
                margin-top: 12px;
                margin-right: 2px;
            }

            .match-team {
                width: 300px;
            }

                .match-team > * {
                    float: left;
                }

            .info-item {
                margin-right: 15px;
            }

            .match-subject {
                width: 200px;
                overflow: hidden;
            }

            .master-team-name {
                float: left;
                width: 100px;
                text-align: right;
                overflow: hidden;
            }

            .slave-team-name {
                float: left;
                width: 100px;
                text-align: left;
                overflow: hidden;
            }

            .bold {
                font-weight: bold;
            }

            .hight-light {
                color: #ff0000;
            }

            .match-time {
                width: 45px;
                overflow: hidden;
            }

            .button {
                display: block;
                width: 80px;
            }

            .btn-watch {
                width: 30px;
            }

            .btn-guess {
                background-color: #058025;
            }

            .btn-stop {
                background-color: #5f5e5e;
            }

        .btn-none {
            background-color: #5f5e5e;
        }

            .btn-analyze {
                width: 30px;
            }

            .btn-more {
                background-color: #b64343;
            }

            .btn-guess, .btn-watch, .btn-stop, .btn-none, .btn-analyze, .btn-more {
                color: #fff;
                margin-top: 12px;
                height: 25px;
                text-align: center;
                line-height: 25px;
            }

            .button.active {
                background-color: #f6a30e;
            }

            /*固定导航条*/
            .match-item-header.fixed {
                position: fixed;
                top: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
                z-index: 99;
                border-bottom: solid 1px #ccc;
            }

            /*回到顶部*/
            .btn-top {
                border: solid 1px #d9d9d9;
                width: 40px;
                height: 40px;
                display: block;
                background-image: url(/images/gotop.png);
                background-position: 8px 8px;
                background-repeat: no-repeat;
                background-size: 24px 24px;
                background-color: #f7f7f7;
                line-height: 1rem;
                font-size: 1rem;
                padding: 5px;
            }

                .btn-top span {
                    display: none;
                }

                .btn-top:hover {
                    background-image: none;
                    color: #c49f58;
                }

                    .btn-top:hover span {
                        display: inline;
                    }

            .fixed-area {
                position: fixed;
                top: 90%;
                left: 50%;
                margin-left: 500px;
            }
            /*列表头部*/
            .match-item-header {
                height: 3.5rem;
                line-height: 3.5rem;
                vertical-align: middle;
                background-color: #e3e3e3;
                text-align: center;
                margin-top: 10px;
                width: 100%;
                max-width: 990px;
            }

                .match-item-header > div {
                    float: left;
                    height: inherit;
                }
    </style>


    <div class="sub-nav">
        <ul>
            <li class="@(matchType=="ALL-MATCH"?"active":"")"><img src="~/images/games/ga.png" width="25" height="25" alt="@T("ALL-MATCH")" /><a href="@Url.Action("Index","Match",new { Type="All"})">@T("ALL-MATCH")</a></li>
            <li class="@(matchType=="LOL"?"active":"")"><img src="~/images/games/lol.png" width="25" height="25" alt="@T("LOL")" /><a href="@Url.Action("Index","Match",new { Type="LOL"})">@T("LOL")</a></li>
            <li class="@(matchType=="DOTA2"?"active":"")"><img src="~/images/games/dota2.png" width="25" height="25" alt="@T("DOTA2")" /><a href="@Url.Action("Index","Match",new { Type="DOTA2"})">@T("DOTA2")</a></li>
            <li class="@(matchType=="WZRY"?"active":"")"><img src="~/images/games/wzry.png" width="25" height="25" alt="@T("WZRY")" /><a href="@Url.Action("Index","Match",new { Type="WZRY"})">@T("WZRY")</a></li>
            <li class="@(matchType=="LSQS"?"active":"")"><img src="~/images/games/lsqs.png" width="25" height="25" alt="@T("LSQS")" /><a href="@Url.Action("Index","Match",new { Type="LSQS"})">@T("LSQS")</a></li>
            <li><img src="~/images/games/ga.png" width="25" height="25" alt="@T("MORE-MATCH")" /><a href="javascript:void(0)" onclick="showMoreMatch()">@T("MORE-MATCH")</a></li>
        </ul>
    </div>
    <div>
        <div class="match-header"></div>
        <div class="match-list-container">
            <div id="matchItemHeader" class="match-item-header">
                <div class="match-subject info-item">@T("MatchName")</div>
                <div class="match-time info-item">@T("MatchTime")</div>
                <div class="match-team info-item">@T("MatchTeam")</div>
                <div class="info-item btn-watch">&nbsp;</div>
                <div class="info-item btn-analyze">&nbsp;</div>
                <div class="info-item button" style="margin-right:1px;">@T("MasterTeamWin")</div>
                <div class="info-item button">@T("SlaveTeamWin")</div>
                <div class="info-item button">&nbsp;</div>
            </div>
            @if (Model.Count > 0)
        {
            @foreach (var date in Model.OrderByDescending(p=>p.MatchTimeUtc).GroupBy(p => dateTimeHelper.ConvertToUserTime(p.MatchTimeUtc).Date))
            {
            <div class="match-item">
                <div class="match-date"><span>@date.Key.FormatForDate(workContext.WorkingLanguage)</span></div>
                @foreach (var item in Model.Where(p => dateTimeHelper.ConvertToUserTime(p.MatchTimeUtc).Date == date.Key).OrderByDescending(p=>p.MatchTimeUtc))
                {
                <div class="match-sub-item">
                    <div class="match-subject info-item"><img width="25" height="25" src="@item.GameIcon" alt="@item.MatchName" />@item.MatchName</div>
                    <div class="match-time info-item">@item.MatchTimeUtc.ToShortTimeString()</div>
                    <div class="match-team info-item">
                        <span class="master-team-name">@item.MasterTeam</span><div><img src="@item.MasterTeamIcon" width="25" height="25" style="margin-right:10px" alt="@item.MasterTeam" /><span class="bold">@item.MasterTeamScore</span></div>
                        <div class="bold">-</div>
                        <span class="bold">@item.SlaveTeamScore</span><div><img src="@item.SlaveTeamIcon" width="25" height="25" style="margin-left:10px;" alt="@item.SlaveTeam" /><span class="slave-team-name">@item.SlaveTeam</span></div>
                    </div>
                    <div class="info-item watch-game">
                        <a class="button btn-watch" target="_blank" href="@Url.Action("WatchGame","Game")"><img src="~/images/monitor.png" width="24" height="24" alt="@T("WatchGame")" /></a>
                    </div>
                    <div class="info-item">
                        <a class="button btn-analyze" target="_blank" href="@Url.Action("Analyze", "Game",new {MatchId=item.MatchId})"><img src="~/images/increase.png" width="24" height="24" alt="@T("MatchAnalyze")" /></a>
                    </div>
                    @if (item.MatchState == MatchState.Guessing)
                    {
                    <div class="info-item" style="margin-right:0px;border-right:solid 1px #fff;">
                        <a data-match-id="@item.MatchId" data-team-id="@item.MasterTeamId" class="button btn-guess" href="javascript:void(0)" onclick="addGuess(event,'@item.GameIcon','@item.MatchName','@string.Format("{0} VS {1}",item.MasterTeam,item.SlaveTeam)','@item.MasterTeam','@item.MasterTeamRate','@item.MatchId','@item.MasterTeamId')">@item.MasterTeamRate</a>
                    </div>
                    <div class="info-item">
                        <a data-match-id="@item.MatchId" data-team-id="@item.MasterTeamId" class="button btn-guess" href="javascript:void(0)" onclick="addGuess(event,'@item.GameIcon','@item.MatchName','@string.Format("{0} VS {1}",item.MasterTeam,item.SlaveTeam)','@item.SlaveTeam','@item.SlaveTeamRate','@item.MatchId','@item.SlaveTeamId')">@item.SlaveTeamRate</a>
                    </div>
                    <div class="info-item">
                        <a class="button btn-more" href="javascript:void()">@T("MoreGuess")</a>
                    </div>
                    }
                    else if (item.MatchState == MatchState.StopGuess)
                    {
                    <div class="info-item" style="margin-right:0px;border-right:solid 1px #fff;">
                        <span class="button btn-stop">@item.MasterTeamRate</span>
                    </div>
                    <div class="info-item">
                        <span class="button btn-stop">@item.SlaveTeamRate</span>
                    </div>
                    <div class="info-item">
                        <a class="button btn-more" href="javascript:void()">@T("MoreGuess")</a>
                    </div>
                    }
                    else
                    {
                    <div class="info-item" style="margin-right:0px;border-right:solid 1px #fff;">
                        <span class="button btn-none">@T("GuessNone")</span>
                    </div>
                    <div class="info-item">
                        <span class="button">&nbsp;</span>
                    </div>
                    <div class="info-item">
                        <span class="button">&nbsp;</span>
                    </div>
                    }
                </div>
                }
            </div>
            }
        }
        else
        {
            <div class="match-item-none">@T("No-Match-List")</div>
        }
        </div>
    </div>
    <div class="fixed-area">
        <a id="goTop" class="btn-top" href="javascript:void()" style="display:none;"><span>@T("GoTop")</span></a>
    </div>
    <div class="guess-bar">
        <div class="guess-bar-container">
            <div></div>
        </div>
    </div>




    <script type="text/javascript" asp-location="Footer">
        function scrollHandler() {
            //固定导航条
            var elem = $("#matchItemHeader");
            var top = $(document).scrollTop();
            var bottom = $(document).height() - top - window.innerHeight;
            if (top > 140) {
                elem.addClass("fixed");
            }
            else {
                elem.removeClass("fixed");
            }
        }
        function addGuess(e) {
            var elem = $(e.target);
            if (elem.hasClass("active")) {
                elem.removeClass("active");
                addGuessElement(arguments);
            }
            else {
                elem.addClass("active");
                delGuessElement(arguments);
            }
        }
        function addGuessElement() {


        }
        function delGuessElement() {


        }
        $(function () {
            scrollHandler();
            $(document).scroll(function (e) {
                scrollHandler();
            });

            //回到顶部组件
            $("#goTop").backTop();
        })
    </script>
